# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ansible retry files
*.retry

# Ansible Vault files
vault.yml
*.vault
vault

# System-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*~

# Temporary files
*.tmp

# Python virtual environments
venv/
*.venv
env/

# Role dependencies managed by ansible-galaxy
roles/external/

# Files created by ansible-test
/tests/output/

# Ignore Vagrant environment files
/.vagrant/

# Ignore VirtualBox files
*.vbox
*.vbox-prev
*.vbox-prev-prev
*.vdi
*.vdi.*
*.vmdk
*.vagrant

# Ignore logs
*.log

# Ignore SSH private key
.vagrant/machines/*/virtualbox/private_key

# Ignore synced folder contents
.vagrant/synced_folders/

# Ignore temporary files
.vagrant/box-update-tmp-*
